.table {
    width: 100%;
    overflow-x: auto;
  }
  
  .table table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }
  
  main .delivery-feature-list h1 {
    text-align: center;
  }
  
  @media (min-width: 600px) {
    .table table {
      font-size: 16px;
    }
  
    main .delivery-feature-list {
      padding: 10px 32px;
      padding-bottom: 20px;
    }
  }
  
  @media (min-width: 900px) {
    .table table {
      font-size: 16px;
    }
  }
  
  .table table thead {
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 9%);
  }
  
  .table table thead tr {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border: none;
    box-shadow: 0 3px 6px 0 rgba (0, 0, 0, 0.09);
    background-color: #fdfdfb;
    font-size: 18px;
    font-family: argesta-display, argesta-display-fallback, "Times New Roman", serif;
    height: 60px;
  }
  
  .table table tbody tr {
    border-bottom: 1px solid #d6d6d6;
  }
  
  .mobile-view-section .table table thead tr {
    background: none;
  }
  
  .table table th {
    font-weight: 700;
  }
  
  .table table th,
  .table table td {
    padding: 8px 16px;
    text-align: left;
  }
  
  /* striped variant */
  .table.striped tbody tr:nth-child(odd) {
    background-color: var(--overlay-background-color);
  }
  
  main .plan-list-delivery table tbody tr td {
    padding: 8px 17px;
  }
  
  /* bordered variant */
  .table.bordered table th,
  .table.bordered table td {
    border: 1px solid;
  }
  
  /* new code added from here */
  
  main .delivery-feature-list h5,
  main .plan-list-delivery h5 {
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    border-radius: 24px;
    display: table;
    margin: 0 auto;
    margin-top: 50px;
    padding: 11px 30px 12px;
    background-color: #00582e;
    text-decoration: none;
    margin-bottom: 30px;
  }
  
  .delivery-feature-list table th:nth-child(1) {
    width: 55%;
  }
  
  .delivery-feature-list table th:nth-child(2) {
    width: 15%;
  }
  
  .delivery-feature-list table th:nth-child(3) {
    width: 15%;
  }
  
  .delivery-feature-list table th:nth-child(4) {
    width: 15%;
  }
  
  .plan-list-delivery table th:nth-child(1) {
    width: 70%;
  }
  
  .plan-list-delivery table th:nth-child(2) {
    width: 15%;
  }
  
  .plan-list-delivery table th:nth-child(3) {
    width: 15%;
  }
  
  main .delivery-feature-list table td strong {
    padding-left: 10px;
  }
  
  main .plan-list-delivery table td strong {
    padding-left: 10px;
  }
  
  .delivery-feature-list table tr td:nth-child(1) {
    font-size: 16px;
  }
  
  .plan-list-delivery table tr td:nth-child(2),
  .plan-list-delivery table tr th:nth-child(2) {
    text-align: center;
  }
  
  .plan-list-delivery table tr td:nth-child(3),
  .plan-list-delivery table tr th:nth-child(3) {
    text-align: center;
  }
  
  .delivery-feature-list table tr td:nth-child(2),
  .delivery-feature-list table tr th:nth-child(2) {
    text-align: center;
  }
  
  .delivery-feature-list table tr td:nth-child(3),
  .delivery-feature-list table tr th:nth-child(3) {
    text-align: center;
  }
  
  .delivery-feature-list table tr td:nth-child(4),
  .delivery-feature-list table tr th:nth-child(4) {
    text-align: center;
  }
  
  main .delivery-feature-list .icon svg,
  main .plan-list-delivery .icon svg {
    position: relative;
    top: 12px;
    vertical-align: 15px;
  }
  
  main .delivery-feature-list tr td:first-child svg,
  main .plan-list-delivery tr td:first-child svg {
    width: 35px;
    height: 35px;
    vertical-align: -20px;
    padding: 2px;
    padding-bottom: 0;
    margin-bottom: 20px;
    margin-left: -2px;
  }
  
  .delivery-feature-list .table table tbody tr:nth-child(6),
  .delivery-feature-list .table table tbody tr:nth-child(11),
  .delivery-feature-list .table table tbody tr:nth-child(15),
  .delivery-feature-list .table table tbody tr:nth-child(20),
  .delivery-feature-list .table table tbody tr:nth-child(25),
  .delivery-feature-list .table table tbody tr:nth-child(28),
  .delivery-feature-list .table table tbody tr:nth-child(31) {
    border-top: 3px solid  #d6d6d6;
  }
  
  .plan-list-delivery .table table tbody tr:nth-child(16),
  .plan-list-delivery .table table tbody tr:nth-child(19),
  .plan-list-delivery .table table tbody tr:nth-child(23),
  .plan-list-delivery .table table tbody tr:nth-child(31) {
    border-top: 3px solid  #d6d6d6;
  }
  
  @media (max-width: 600px) {
    .table table td {
      padding: 8px 4px;
      text-align: left;
    }
  
    .delivery-feature-list table tr td {
      font-size: 10px;
    }
  
    .delivery-feature-list table th:nth-child(1),
    .delivery-feature-list table tr td:nth-child(1) {
      width: 80%;
    }
  
    .delivery-feature-list table th:nth-child(2) {
      width: 7%;
    }
  
    .delivery-feature-list table th:nth-child(3) {
      width: 7%;
    }
  
    .delivery-feature-list table th:nth-child(4) {
      width: 6%;
    }
  
    .delivery-feature-list .table table th {
      padding: 8px 16px;
      text-align: left;
      font-size: 15px;
    }
  
    .table table thead tr {
      font-size: 15px;
      font-family: argesta-display, argesta-display-fallback, "Times New Roman", serif;
    }
  
    .delivery-feature-list table tr td:nth-child(1) {
      font-size: 14px;
    }
  
    main .delivery-feature-list .icon-yes svg {
      width: 12px;
      vertical-align: 16px;
    }
  
    main .delivery-feature-list .icon-cross svg {
      width: 12px;
      vertical-align: 16px;
    }
  
    main .delivery-feature-list {
      padding: 10px 32px;
      padding-bottom: 20px;
    }
  
    main .delivery-feature-list h5,
    main .plan-list-delivery h5 {
      text-align: center;
      font-size: 15px;
      color: #fff;
      font-weight: 300;
      border-radius: 24px;
      display: table;
      margin: 0 auto;
      margin-top: 50px;
      padding: 11px 30px 12px;
      background-color: #00582e;
      text-decoration: none;
      margin-bottom: 100px;
    }
  
    .table table {
      font-size: 14px;
    }
  
    main .delivery-feature-list tr td:first-child svg,
    main .plan-list-delivery tr td:first-child svg {
      width: 22px;
      height: 22px;
    }
  
    .plan-list-delivery .table table th {
      padding: 8px 4px;
      text-align: left;
    }
  
    main .plan-list-delivery h1 {
      text-align: center;
    }
  
    main .table-container {
      padding: 0 5px;
      margin: -25px 0;
    }
  }