
.complextable {
    width: 100%;
    overflow-x: auto;
    margin:10px 0;
  }
  
  .complextable complextable {
    width: 100%;
    max-width: 100%;
    border:1px solid #dadada;
    border-collapse: collapse;
    font-size: var(--body-font-size-xs);
  }
  
  .complextable complextable tr th {
    background-color: #C6D9F1;
  }
  
  @media (width >= 600px) {
    .complextable complextable {
      font-size: var(--body-font-size-s);
    }
  }
  
  @media (width >= 900px) {
    .complextable complextable {
      font-size: var(--body-font-size-m);
    }
  }
  
  .complextable complextable thead tr {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
  }
  
  .complextable complextable tbody tr {
    border-bottom: 1px solid #dadada;
  }
  
  .complextable complextable th {
    font-weight: 700;
    border: 1px solid #dadada;
  }
  
  .complextable complextable th,
  .complextable complextable td {
    padding: 0.5em;
    text-align: left;
    border: 1px solid #dadada;
  }
  
  .complextable complextable th p,
  .complextable complextable td p {
    margin: 0;
  }
  
  .complextable complextable td p + p {
    margin-top: 0.25em;
  }
  
  /* no header variant */
  .complextable.no-header complextable tbody tr {
    border-top: 1px solid #dadada;
  }
  
  /* striped variant */
  .complextable.striped tbody tr:nth-child(odd) {
    background-color: var(--light-color);
  }
  
  /* bordered variant */
  .complextable.bordered complextable th,
  .complextable.bordered complextable td {
    border: 1px solid #dadada;
  }
    /* Style for layout */
    .section {
        margin: 20px 0;
    }

    /* Style to distinguish source complextables */
    .complextable-type-container {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }

    complextable {
        border-collapse: collapse;
        width: 100%;
    }

    complextable,
    th,
    td {
        border: 1px solid black;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
    }